/* Write some CSS below */
/* style.css */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0;
  background-color: #f6e7e6;
  padding: 0;
  
}


h1 {
	font-family: 'Signika', sans-serif;
	text-justify: center;

}


a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}



.card-white {

	/* background-color: #fbf4f9; */
	background-color: white;
	text-align: center;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	border-radius: 10px;
	width: 300px;
	margin:auto;
}

.card-white img{
	width: 300px;
	height: 200px;
	border: 3px solid #404042;
	border-radius: 13px;
	object-fit: cover;

}

.card-white h3{
	margin: 0;
}

.card-white a{
	color: #0066CC;
}


.contato{
	
	width: 800px;
	margin: auto;
	margin-top: 50px;
}

.contato h2{
	padding-top: 100px;
}
.contato p{
	padding-top: 50px;
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-size: 50px;
}

.container {

	width: 800px;
	margin: auto;
	margin-top: 0px;

	
}

.container h2{
	padding-top: 80px;
	margin-top: 0;
	margin-bottom: 70px;
}

.container h4{
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 20px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px 40px;
	
}



  
@media (min-width: 500px) {
  .container {
    width: 400px;
  }




}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }


}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}



@media only screen and (max-width: 768px) {




	body{
		width: vw;
		font-size: 0.6em;
	}

	h2{
		padding: 0 1em;
	}

	.header{
		grid-template-columns: 1fr minmax(3em, 50%) 1fr;
		width: 100vw;
		height: 5em;
	}

	.logo{
		display: grid;
		place-items: center;
	}

	.header h1{
		font-size: 1.2em;
		border-radius: 0.17em;
		border:0.05em solid white;
		width: 6.5em;
		margin: 0;
		
	}


	.header ul{
		height: 5em;
		align-items: center;
		justify-items: center;
	}

	.header li{


		width: 7em;
		margin: 0.5em;
		padding: 0.5em;
	}



	.banner h1{
		margin-left: 50%;
		padding-top: 30vh;
		font-size: 2em;
	}

	#sn{
		top:-5em;
	}


	.sobre{
		width: 100vw;
		margin: 0;
		padding: 0;
	}

	.sobre p{

		font-size: 1.5em;
		padding: 0 1em;
	}

	/* .sobre,.contato,.container{
		padding: 1em;
	} */


	.sb-img img{
		width: 100px;
		height: 100px;
		object-fit: contain;
		border-radius: 50%;
	}

	.sobre h2{
		padding-top: 2em;
		margin-top: 0;
	}


	#cn{
		top:-5em;
	}

	.contato{
		width: 100vw;
		margin-top: 0;
		height: 100vh;
	}

	.contato h2{
		padding-top: 2em;
		margin-top: 0;
	}


	.contato p{
		font-size: 3em;
	}

	.sb-card{
		grid-template-columns: 1fr;
	}

	.person{

		grid-template-columns: 15em 1fr;
	}
	

	#pt{
		top:-5em;
	}

	.container{
		width: 100vw;
		margin-top: 0;
	}


	.container h2{
		padding-top: 2em;
		margin-top: 0;
		margin-bottom: 3em;
	}




  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }




/* .contato{
	height: 800px;
} */





}











